* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
}
html,
body {
  height: 100%;
  background-color: rgb(238, 239, 242);
  position: relative;
}

/* for week1 */
.separator {
  width: 100%;
  height: 0px;
  border: 1px solid rgba(232, 232, 232, 1);
  margin: 0 auto;
  margin: 20px 0;
}
.message {
  font-size: 15px;
}
.image {
  height: 100px;
  width: 80px;
  object-fit: contain;
}
/* for week1 */

.btn {
  background-color: rgb(88, 123, 176);
  border-radius: 15px;
  border: none;
  color: white;
  padding: 5px 15px;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
}
.input_set {
  background-color: white;
  margin: 10px auto;
  width: max-content;
  height: max-content;
}
.input_title {
  background-color: white;
  text-align: center;
}
.input_frame {
  border: none;
  border-radius: 5px;
  height: 30px;
  padding: 5px 10px;
  text-align: left;
  width: 250px;
  border: 1px solid rgb(238, 239, 242);
  background-color: rgb(238, 239, 242);
}
.navigation {
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 80px;
  padding: 10px 0;
  z-index: 2;
}
.navi-placeholder {
  width: 100vw;
  height: 80px;
}

.navi-left {
  position: absolute;
  left: 30px;
  top: calc(50% - 30px);
  background-color: white;
}
.navi-right {
  position: absolute;
  right: 30px;
  top: calc(50% - 14px);
  background-color: white;
  width: max-content;
}
.img {
  width: 60px;
  height: 60px;
  background-color: white;
}
.name {
  position: absolute;
  width: max-content;
  background-color: white;
  font-size: 32px;
  font-weight: 700;
  color: rgb(47, 92, 166);
  top: calc(50% - 18.33px);
  cursor: pointer;
}
.main {
  width: 1200px;
  min-height: 100%;
  display: flex;
  padding: 5px 0;
}
.zone-setting {
  margin: 5px 5px 10px 5px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
}
.zone-title {
  border-radius: 5px 5px 0 0;
  font-size: 20px;
  font-weight: 700;
  background: white;
  color: rgb(47, 92, 166);
  padding: 10px 0;
}
.left {
  flex: 1;
}
.middle {
  flex: 3;
}
.right {
  flex: 1;
}
.footer {
  background-color: white;
  width: 100vw;
  height: 50px;
  padding: 15px 0;
  text-align: center;
  position: sticky;
  top: 100vh;
}
.text {
  width: max-content;
  margin: 5px auto;
  background-color: white;
}

.tagIndex {
  width: max-content;
  height: 30px;
  margin: 0 5px;
  padding: 5px 10px;
}
.zoneList {
  border: none;
  border-radius: 5px;
  height: 30px;
  padding: 5px 10px;
  text-align: left;
  width: 150px;
  margin: 0 5px;
  background-color: white;
  border: 1px solid rgb(238, 239, 242);
  border-radius: 5px;
}
.textarea {
  width: 95%;
  height: 300px;
  border: 1px solid rgb(238, 239, 242);
  border-radius: 5px;
  background-color: white;
  padding: 5px 5px;
  text-align: left;
  margin: 10px 0;
}

.articleView-class {
  font-size: 12px;
}
.articleView-title {
  margin-top: 5px;
  font-weight: 700;
  background-color: white;
}
.articleView-info {
  margin-top: 5px;
  color: rgb(170, 175, 194);
  height: 20px;
  line-height: 20px;
  width: 100%;
  background-color: white;
}
.small_icon {
  object-fit: contain;
  height: 20px;
  width: 20px;
}
.articleView-section {
  height: min-content;
  padding-bottom: 20px;
}
.articleView-item {
  font-size: 12px;
  padding-right: 10px;
  vertical-align: top;
}
.articleView-username {
  padding: 20px 10px 0 15px;
  text-align: left;
  font-weight: 700;
}
.articleView-content {
  text-align: left;
  padding: 0 10px;
}
.bg_White {
  background-color: white;
}
.link:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 700;
}
.response {
  position: relative;
  width: 100%;
  height: 30px;
  margin: 5px 0;
}

.response-flower {
  height: 30px;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 10px;
}
.response-flower:hover {
  cursor: pointer;
}
.response-textarea {
  position: absolute;
  width: 500px;
  top: 0;
  left: 80px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: left;
  border: 1px solid rgb(238, 239, 242);
  background-color: rgb(238, 239, 242);
  height: 30px;
}
.response-btn {
  position: absolute;
  right: 50px;
}

.articleWrite-uploadImg {
  height: 180px;
  width: 320px;
  object-fit: contain;
}
